span{
    display: inline-block;
      text-decoration: none;
  transition: all 0.3s;
}
.navbar{
    height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0px 60px;
  background: #2f333e!important;
    color: #fff;
    position: relative;
    border-radius:0px 0px 4px 4px!important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-family: "Poppins", sans-serif;

  color: white!important;
}
    .logo{

      display: inline-block;
  font-size-adjust:inherit;   
    font-size: 20px;
-webkit-transform:scale(1.15, 1.0);
-moz-transform:scale(1.15, 1.0);
-ms-transform:scale(1.15, 1.0);
-o-transform:scale(1.15, 1.0);
transform:scale(1.15,1.0);
    }
    .logo span{
      font-weight: lighter;
    }
    .logo strong{
font-weight: 900;
      box-sizing: border;
      text-shadow: 1px 0 #888888;
letter-spacing:1px;
font-weight:bold;

    }
    .menu a{
      font-size: 15px;
      color: white!important;
    }
    .dropdown-menu a{
      color: #2f333e!important;
    }

    .login{
        padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-weight: bolder;
      font-size: 15px;
  border-left: 4px solid transparent;

    }
    .login a{
        color: white!important;
            -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
            text-decoration: none;
    }
    .login a:hover{
      -webkit-transition: 0.1s ease;
            transition: 0.1s ease;
      color: #adb4c9!important;
    }


    .dropdown .dropdown-menu {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}

#footer{

  color: white!important;
    background-color: rgba(47, 51, 62, 0.8);
    padding-bottom: 40px;
}
#footer .col-sm-4:hover{
  color: #f0ad4e!important;
  cursor: pointer;
}


.col-sm-4{
  margin-top: 50px;
  font-size: 50px;
}

.col-sm-4 h3{
font-family: "Poppins", sans-serif;
}