.icon{
		text-align: center;
		font-size: 130px;
	}
	.buttons{
		margin-right: 150px;
		margin-left: 300px;
		text-align: center;
	}
	.text{
		text-align: center;
   		font-family: "Impact", Times, serif;

	}

	#down{
  background: #F0AD4E!important;
  background: -webkit-linear-gradient(#f7b962, #e89625)!important;
  background: -o-linear-gradient(#f7b962, #e89625)!important; 
  background: -moz-linear-gradient(#f7b962, #e89625)!important; 
  background: linear-gradient(#f7b962, #e89625)!important;
  border: 0!important;
    color: #fff;
}
#down1{
  background-color: #F0AD4E;
}
