.col-md-6{
		text-align: center;

	}
#down{
  background: #F0AD4E!important;
  background: -webkit-linear-gradient(#f7b962, #e89625)!important;
  background: -o-linear-gradient(#f7b962, #e89625)!important; 
  background: -moz-linear-gradient(#f7b962, #e89625)!important; 
  background: linear-gradient(#f7b962, #e89625)!important;
  border: 0!important;
    color: #fff;
}
#down1{
  background-color: #F0AD4E;
}
