span{
    display: inline-block;
      text-decoration: none;
  transition: all 0.3s;
}
.navbar{
    height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0px 60px;
  background: #F0AD4E!important;
  background: -webkit-linear-gradient(#f7b962, #e89625)!important;
  background: -o-linear-gradient(#f7b962, #e89625)!important; 
  background: -moz-linear-gradient(#f7b962, #e89625)!important; 
  background: linear-gradient(#f7b962, #e89625)!important;
  border: 0!important;
    color: #fff;

    position: relative;
    border-radius: 0px 0px 4px 4px!important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-family: "Poppins", sans-serif;

  color: white!important;
}
    .logo{

      display: inline-block;
  font-size-adjust:inherit;   
    font-size: 20px;
-webkit-transform:scale(1.15, 1.0);
-moz-transform:scale(1.15, 1.0);
-ms-transform:scale(1.15, 1.0);
-o-transform:scale(1.15, 1.0);
transform:scale(1.15,1.0);
text-shadow: 1px 0 #2F333E;
    }
    .logo:hover{
      -webkit-transition: 0.1s ease;
            transition: 0.1s ease;
      color: #0C68A2!important;
      cursor: pointer;
    }
    .logo span{
      font-weight: lighter;
    }
    .logo strong{
font-weight: 900;
      box-sizing: border;
      
letter-spacing:1px;
font-weight:bold;

    }
    .menu a{
      font-size: 15px;
      text-shadow: 1px 0 #2F333E;
      color: white!important;
    }

     .menu a:hover{
      -webkit-transition: 0.1s ease;
            transition: 0.1s ease;
      color: #0C68A2!important;
    }
    .dropdown-menu a{
      color: #2f333e!important;
    }

    .login{
        padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-weight: bolder;
      font-size: 16px;
  border-left: 4px solid transparent;

    }
    .login a{
        color: black!important;

            -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
            text-decoration: none;
    }
    .login a:hover{
      -webkit-transition: 0.1s ease;
            transition: 0.1s ease;
      color:  white!important;
    }


    .dropdown .dropdown-menu {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
    background-color: black;
}




@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

/* -- You can use this tables in Bootstrap (v3) projects. -- */
// @import "//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css";


/* -- Box model ------------------------------- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, .container, body{
  background-color: #f5f5f5!important;
}

.title{
    font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  font-weight: 900;
  box-sizing: border;
  color: #2F333E!important;

}
.titlediv{
    font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  font-weight: 300;
  color: #2F333E!important;

}


#demo {
  margin: 20px auto;
  max-width: 960px;
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #212121;
  background-color: 

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


.shadow-z-1 {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),
                      0 1px 2px 0 rgba(0,0,0,.24);
  -moz-box-shadow:    0 1px 3px 0 rgba(0,0,0,.12),
                      0 1px 2px 0 rgba(0,0,0,.24);
  box-shadow:         0 1px 3px 0 rgba(0,0,0,.12),
                      0 1px 2px 0 rgba(0,0,0,.24);

 


}

.table{
	    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: #fff;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: white;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}


tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
tbody tr:hover{
 	background-color: #fff3e0!important;
    }   
th{
	font-weight: 400;
    color: #757575;
    vertical-align: bottom;
    border-bottom: none!important;
        padding: 13px!important;

}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td{
    text-align: left;
    padding: 15px!important;
    vertical-align: top;
    border-top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
        display: table-cell;
       cursor: pointer;
    }

.projecticons{
  font-size: 24px;
  color: #ffc570;
  -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
 /* margin-right: 20px;*/
}
.projecticons:hover{
  color: #2F333E!important;
      text-decoration: none;


}

 



input[type="text"], 
textarea, 
textarea.form-control {
  height: 45px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: white;
    border: 1px solid whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    color: #9d9892;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

input[type="text"]:focus, 
textarea:focus, 
textarea.form-control:focus {
  outline: 0;
    border: 2px solid #c4c0b4;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #9d9892; }
input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #9d9892; }
input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #9d9892; }

label {
  font-weight: 400;
}



button.btn {
  height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #d05a4e;
    border: 0;
font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}



button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #d05a4e; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #d05a4e; color: #fff; }

.inner-bg {
    padding: 40px 0 170px 0;
}

.top-content h1 { color: #fff; }

.top-content .description {
  margin: 20px 0 10px 0;
  color: #fff;
}

.top-content .description a { color: #fff; border-bottom: 2px dotted #fff; }
.top-content .description a:hover, 
.top-content .description a:focus { border: 0; }

.top-content .top-big-link {
  margin-top: 35px;
}

.form-box {
  padding-top: 40px;

}

.form-top {
  padding: 25px 25px 15px 25px;
  background: #fff;
  text-align: left;
}

.form-top h3 { margin-top: 0; }

.form-bottom {
  padding: 25px 25px 60px 25px;
  background: #fff3e0;
  text-align: left;
}

.form-bottom form textarea {
  height: 100px;
}

.form-bottom form .input-error {
  border-color: #d05a4e;
}

.divisoria{
  padding: 20px;
  width: 400px;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
}
.inputtitle{
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;  
    padding-right: 15px;
}

td{
      padding-bottom: 0px!important;
      padding-top: 9px!important;
}

.col-sm-2{
  text-align: center;
}
.products .col-sm-3 input{
  width: 100%;
}
#down-menu{
  background-color: #F0AD4E;
}

#down{
  background: #F0AD4E!important;
  background: -webkit-linear-gradient(#f7b962, #e89625)!important;
  background: -o-linear-gradient(#f7b962, #e89625)!important; 
  background: -moz-linear-gradient(#f7b962, #e89625)!important; 
  background: linear-gradient(#f7b962, #e89625)!important;
  border: 0!important;
    color: #fff;
}
#down1{
  background-color: #F0AD4E;
}
#ul-menu{
  width: 100%
}
#li-menu1{
  width: 25%;
}
#li-menu2{
  width: 25%;
}
#li-menu3{
  width: 25%;
}
#li-menu4{
  width: 25%;
}